[run]
source = app
omit =
    app/features/feature_pipeline/__main__.py
    app/features/feature_pipeline/flow.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
